@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  background: linear-gradient(350deg, rgb(121, 45, 129) 3.6%, rgb(36, 31, 98) 90.4%);
  display: flex;
  padding-top: 50px;
  justify-content: center;
  animation: fundo-animation 10s infinite linear;
}

.container-sorteio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.container-sorteio h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.container-sorteio h1 span {
  color: deeppink;
}


.participantes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-add {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}

.form-add input {
  width: 100%;
  font-size: 18px;
  max-width: 400px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 5px;
  min-height: 30px;
  color: #ff005b;
  padding: 6px;
  text-align: center;
}

.form-add input:focus {
  outline: none;
}

::placeholder {
  color: #ddd;
}

.form-add button {
  background: #ff005b;
  padding: 8px 12px;
  border-radius: 8px;
  color: #fff;
  border: none;
  width: max-content;
  font-size: 14px;
}

.participantes {
  overflow: scroll;
  max-height: 100px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 250px;
  justify-content: center;
}

.participantes span {
  background: #ffffff43;
  padding: 4px 8px;
  border-radius: 6px;
}

.box-sorteada {
  min-height: 40px;
  min-width: 150px;
  background: deeppink;
  border-radius: 10px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
  padding: 16px;
}

.sortear {
  background-color: #ff005b;
  -webkit-text-fill-color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.buttons {
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 20px;
}


.clean {
  background: transparent;
  color: #fff;
  font-size: 18px;
  border: none;
}

@keyframes fundo-animation {

  0% {
    background-size: 100%;
  }

  10% {
    background-size: 100%
  }

  50% {
    background-size: 200%;
  }

  75% {
    background-size: 200%
  }


  100% {
    background-size: 100%
  }

}

.logo {
  margin-top: 40px;
  width: 300px;
  animation: logo 15s infinite linear;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.devs {
  margin-top: 220px;
  display: flex;
  gap: 20px;
}

.devs a {
  color: #fff;
  text-decoration: none;
}

.devs a span {
  color: #ff005b
}

.no-participants,
.no-character,
.itIsClean {
  max-width: 360px;
  background: #262626;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 60px;
  left: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  transition: .3s;
  transform: translateX(-380px);
}

.popup-animation {
  transform: translateX(0px);
}

.no-participants span,
.no-character span,
.itIsClean span {
  color: #ff005b;
}

.vencedor {
  background: #ff005b;
  padding: 2.5rem 1rem;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(3px);
  color: #fff;
  border: none;
}

.vencedor img {
  position: absolute;
  top: 0px;
  right: 0px
}

@media (max-width: 400px) {
  .form-add input {
    min-width: 80%;
  }
}